<div class="footer row text-center m-0 p-0 rounded-top">
    <div class="footerText col-3 my-auto p-0">
        <p><a href="/aboutMe">About me</a></p>
        <p><a href="/contactUs">Contact us</a></p>
    </div>
    <div class="footerText col-3 my-auto p-0">
        <p><a href="/modelsWanted">Models Wanted</a></p>
        <p><a href="https://www.linkedin.com/in/gaurav-dhingra-devoloper/" target="_blank">Powered By</a></p>
    </div>
    <div class="footericons col-6 my-auto">
        <h3 class="footerText">Follow Us</h3>
        <a class="mr-2" target="_blank" href="https://twitter.com/simrandhingrap1"><i class="fab fa-twitter"></i></a>
        <a class="mr-2" target="_blank" href="https://in.pinterest.com/simrandhingraphotography/"><i
                class="fab fa-pinterest"></i></a>
        <a class="mr-2" target="_blank" href="https://www.facebook.com/simrandhingraphotography/"><i
                class="fab fa-facebook"></i></a>
        <a class="mr-2" target="_blank" href="https://www.instagram.com/simrandhingraphotography/"><i
                class="fab fa-instagram"></i></a>
        <a class="mr-2" target="_blank" href="https://www.linkedin.com/in/simran-dhingra-071a01131/"><i
                class="fab fa-linkedin-in"></i></a>
        <a class="mr-2" target="_blank" href="https://www.youtube.com/channel/UCj5WLPjugWej748dctyHiyg"><i
                class="fab fa-youtube"></i></a>
    </div>
</div>
<div id="scroll-top">
    <button class="btn btn-primary scroll-top" data-scroll="up" type="button">
        <i class="fa fa-chevron-up"></i>
    </button>
    <span class="scroll-top-shadow"></span>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<script src="/js/main.js"></script>
</body>

</html>