<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simran Dhingra Photography</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link rel="icon" href="/images/SimranLogo1.png">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <!-- <div id="cover">
        <div id="cover2" class="d-flex align-items-center justify-content-center">
            <div id="loading"></div>
            <h1 class="heading ml-4">LOADING....</h1>
        </div>
    </div> -->
    <div id="cover">
        <div class="wrap">
            <div class="loading">
                <div class="bounceball m-auto"></div>
                <div class="text">LOADING...</div>
            </div>
        </div>
    </div>
    <nav id="navB" class="navbar fixed-top navbar-expand-md navbar-dark bg-dark rounded-bottom one-edge-shadow mx-2">
        <a class="navbar-brand" href="/">
            <img id="camera-nav" src="/images/camera.png" alt="">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-lg-auto">
                <li class="nav-item"><a class="nav-link" href="/makeUp">Makeup shoot</a></li>
                <li class="nav-item"><a class="nav-link" href="/portrait">Portrait</a></li>
                <li class="nav-item"><a class="nav-link" href="/fashion">Fashion</a></li>
                <li class="nav-item"><a class="nav-link" href="/videos">Videos</a></li>
                <li class="nav-item"><a class="nav-link" href="/blogs">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/contactUs">Contact us</a></li>
                <li class="nav-item border-bottom-0"><a class="nav-link" href="/modelsWanted">Models Wanted</a></li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto d-none d-lg-flex">
            <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://www.instagram.com/simrandhingraphotography/"><i class="fab fa-instagram"></i></a></li>
            <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://www.facebook.com/simrandhingraphotography/"><i class="fab fa-facebook"></i></a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://twitter.com/simrandhingrap1"><i
                        class="fab fa-twitter"></i></a></li>
            <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://in.pinterest.com/simrandhingraphotography/"><i class="fab fa-pinterest"></i></a></li>
            <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://www.linkedin.com/in/simran-dhingra-071a01131/"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li class="nav-item"><a class="nav-link" target="_blank"
                    href="https://www.youtube.com/channel/UCj5WLPjugWej748dctyHiyg"><i class="fab fa-youtube"></i></a>
            </li>
        </ul>
    </nav>