<% include ./partials/header %>
<div id="aboutMe" class="contain">
    <div class="row">
        <div class="col-lg-10 col-11 m-auto">
            <h1 class="heading">About Me</h1>
            <div id="about-me-text" class="cursive text-justify my-4 border p-5 shadow-lg">
                <img id="about-me-image" class="float-left mr-4 rounded-lg one-edge-shadow" src="/images/self.jpeg" alt="">
                <p class="d-inline"> Photography is an austere and blazing poetry of the real. Taking an image, freezing a moment,
                    reveals
                    how
                    rich reality truly is.
                    This website is an initiative of a student of Journalism who decided to pick the camera up.
                    Simran Dhingra is a photo artist who loves creating pictures with the medium of camera and travel of
                    light
                    across the
                    space. A passionate soul who Captures the mood with the help of expressions by the models and
                    spatial
                    structures of their
                    body.</p>

                <p class="mt-4"> Born and brought up in a middle class family this young girl always had a different perspective
                    towards
                    life. Gifted with various forms
                    of art, she always wanted to follow her dreams in her own way. Embarking her footsteps in the male
                    dominating industry to shine like a moon amongst the stars.</p>

                <p> Blessed with a versatile personality, you will always find this girl smiling and pretty much clear
                    about
                    the
                    goal of her life.</p>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>