<!DOCTYPE html>
<html>

<head>
    <title>Simran Dhingra Photography</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="icon" href="/images/SimranLogo1.png">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Dokdo" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"
        async></script>
</head>

<body>
    <div id="cover">
        <div class="wrap">
            <div class="loading">
                <div class="bounceball m-auto"></div>
                <div class="text">LOADING...</div>
            </div>
        </div>
    </div>

    <nav>
        <div class="d-flex flex-column">
            <a href="/contactUs"><i class="fas fa-headset"></i> Contact us</a>
            <a href="/aboutMe"><i class="fas fa-question"></i> About me</a>
            <a href="/makeUp"><i class="fas fa-venus"></i> MakeUp Gallery</a>
            <a href="/blogs"><i class="far fa-comments"></i> Blogs</a>
        </div>
        <div class="d-flex flex-column">
            <a href="/portrait"><i class="far fa-images"></i> Portrait Gallery</a>
            <a href="/fashion"><i class="fab fa-pied-piper-hat"></i> Fashion Gallery</a>
            <a href="/videos"><i class="fas fa-video"></i> Video Gallery</a>
            <a href="/modelsWanted"><i class="fas fa-female"></i> Models Wanted</a>
        </div>
    </nav>
    <a href="/makeUp" class="sign text-center">
        <img id="camera" src="/images/SimranLogoWhite.png" alt="">
    </a>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>