<% include ./partials/header %>
<div class="container">
	<h1 class="heading" >Secret</h1>
	<div class="form">
		<form action="/secret" method="POST" autocomplete="off">
			<div class="form-group">
				<input class="form-control" type="text" name="username" placeholder="username">
			</div>
			<div class="form-group">
				<input class="form-control" type="password" name="password" placeholder="password">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Login</button>
			</div>
		</form>
		<a href="/">Go Back</a>
		<% if(currentUser){ %>
		<a class="ml-1" href="/logout"> logout</a>
		<% } %>
	</div>
</div>
<% include ./partials/footer %>